/**
  * @name MiniProfile Revert
  * @author Connie
  * @description Reverts Discord's 2021 MiniProfiles.
  * @version 1.0
*/

@import url('https://raw.githubusercontent.com/Coniferr/Profile-Revert/main/src/main.css');